.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation: top 2s ease-in-out infinite alternate both;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  background-color: mediumvioletred;
  transition-duration: 1s;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation: bottom 2s ease-in-out infinite alternate both;

}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
  transition: 1s ease-in-out;
}


@keyframes top {
  from {}
  to {transform: translateY(33px) rotate(45deg)}
}



@keyframes bottom {
  from {transform: translateY(0px)rotate(0deg);}
  to {transform: translateY(-33px) rotate(-45deg);}
}
